<div class="container pb-2">
  <form [formGroup]="newForm" class="col-10">
    <div class="user">
      <div class="mb-3 col-6">
        <label for="createFirstName" class="form-label _req">Enter First name</label>
        <input type="text"
               formControlName="firstName"
               class="form-control"
               placeholder="first name"
               id="createFirstName">
        <div>
          <div class="small text-danger">
            firstName is mandatory. !
          </div>
        </div>
      </div>
      <div class="mb-3 col-6">
        <label for="createLastName" class="form-label _req">Enter Last name</label>
        <input type="text"
               placeholder="last name"
               formControlName="lastName"
               class="form-control"
               id="createLastName">
        <div>
        </div>
      </div>
      <div class="mb-3 col-6">
        <label for="createUserName"
               class="form-label _req">Enter Username</label>
        <input type="text"
               placeholder="username"
               class="form-control"
               formControlName="username"
               id="createUserName">

      </div>
      <div class="mb-3 col-6">
        <label for="createEmail"
               class="form-label _req">Email address</label>
        <input type="email" class="form-control"
               formControlName="email"
               placeholder="email"
               id="createEmail"
               aria-describedby="emailHelp">
      </div>
      <div class="mb-3 col-6">
        <label for="createPhone"
               class="form-label _req">Enter Phone</label>
        <input type="text"
               placeholder="phone 0.. "
               formControlName="phone"
               class="form-control"
               id="createPhone">

      </div>
    </div>
    <div formArrayName="albumList">
      <h4>Address Information</h4>
      <div *ngFor="let newAddress of albumListArray.controls, let idx = index">
        <div [formGroupName]=idx>
          <h5> album # : {{ idx + 1}}</h5>
          <div class="mb-3 col-6 form-group firstControlElem">
            <label for="createPhone"
                   class="form-label _req">Enter title
              <input type="text"
                     formControlName="title"
                     class="form-control"
              ></label>
            <button type="button"
                    class="btn btn-close"
                    (click)="deleteAlbum(idx)"></button>
          </div>
          <!--          <div class="mb-3 col-6">-->
          <!--            <label>add Access:-->
          <!--              <input type="text"-->
          <!--                     placeholder="Access"-->
          <!--                     formControlName="usersAccess"-->
          <!--                     class="form-control"></label>-->
          <!--          </div>-->
          <hr/>
          <h4>photoList Information</h4>
          <div formArrayName="photoList"
               class="row">
            <div class="col-3"
                 *ngFor="let newPhoto of photoListArray.controls, let i = index">
              <div [formGroupName]=i>
                <h5> photo # : {{ i + 1}}</h5>
                <div class="mb-3 form-group firstControlElem">
                  <label for="createPhone"
                         class="form-label _req">Enter url
                    <input type="text"
                           formControlName="url"
                           class="form-control"
                    ></label>
                  <button type="button"
                          class="btn btn-close"
                          (click)="deletePhoto(i)"></button>
                </div>
                <!--                <div class="mb-3">-->
                <!--                  <label>add Access:-->
                <!--                    <input type="text"-->
                <!--                           placeholder="Access"-->
                <!--                           formControlName="usersAccess"-->
                <!--                           class="form-control"></label>-->
                <!--                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      type="button"
      class="btn btn-secondary m-2"
      (click)="sendData()">send data
    </button>
  </form>
  <div class="'showForm">

    <button type="button"
            class="btn btn-secondary"
            (click)="addNewAlbum()">add album
    </button>
    <button type="button"
            class="btn btn-secondary"
            (click)="addNewPhoto()">add photo
    </button>
  </div>
</div>
